<div>
<h1> Rock, Paper, Scissors</h1>
</div>

<div>
<p>
Let's Play! Choose One:
</p>
</div>


<div>
<a href = '/rps?choose=rock' data-method="post"> <%= image_tag 'rps_rock.png' %> </a>
<a href = '/rps?choose=paper' data-method="post"> <%= image_tag 'rps_paper.png' %> </a>
<a href = '/rps?choose=scissors' data-method="post"> <%= image_tag 'rps_scissors.png' %> </a>
</div>
